[Database]
host=unix
database=gs-scheduler
user=phil
password=

[Spacetrack]
user=phil
password=notthisone

[Tracking]
latitude=50.939
longitude=-1.38
altitude=0
azimuth_endstop=0
azimuth_rate=1
elevation_rate=1
minimum_interval=0.5
minimum_period=10
